
<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="https://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Login file</title>-->
<!--</head>-->
<!--<body>-->
<!--<form th:action="@{/form1}" th:object="${form1}" method="post">-->
<!--    <p>UserName: <input type="text" th:field="*{username}" /></p>-->
<!--    <p>password: <input type="text" th:field="*{password}" /></p>-->
<!--    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset"/></p>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login file</title>
</head>
<body>
<form onsubmit="onsub()" action="http://localhost:8181/form1" object="form1" method="post">
    <div class="mb-3">
            <label  class="form-label">User Name</label>
            <input type="text" class="form-control" name="username" aria-describedby="usernameHelp">

          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>