<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>New Login-page</title>-->
<!--</head>-->
<!--<body>-->
<!--<form >-->
<!--  <div class="mb-3">-->
<!--    <label for="exampleInputUserName" class="form-label">User Name</label>-->
<!--    <input type="username" class="form-control" id="exampleInputUserName" aria-describedby="usernameHelp">-->
<!--    <div id="usernameHelp" class="form-text"></div>-->
<!--  </div>-->
<!--  <div class="mb-3">-->
<!--    <label for="exampleInputPassword2" class="form-label">Password</label>-->
<!--    <input type="password" class="form-control" id="exampleInputPassword2">-->
<!--  </div>-->
<!--  <button type="submit" class="btn btn-primary">Submit</button>-->
<!--</form>-->
<!--<script src="about.js"></script>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Login-page</title>
</head>
<body>
<h1>Result</h1>
<!--<p th:text="'username: ' + ${form.username}" />-->
<!--<p th:text="'password: ' + ${form.password}" />-->

</body>
</html>